%% -*- erlang -*-
{erl_opts, [debug_info]}.
{deps, [
        {mochiweb, ".*",
         {git, "git://github.com/mochi/mochiweb.git", ""}},
        {gen_nb_server, ".*",
         {git, "git://github.com/knutin/gen_nb_server.git", ""}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
